{% extends 'base.html' %}
{% block style %}
<style>
    body{
        margin: 100px;
        background-color: rgb(126, 126, 245);
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(34, 11, 245);
    }
</style>
{% endblock style %}
{% block title %}
    Create post
{% endblock title %}

{% block content %}

    <h1>Create new post</h1>

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">

    </form>

{% endblock content %}