{% extends 'base.html' %}


{% block title %}
    Delete post '{{ postslist.title }}'
{% endblock title %}
{% block style %}

<style>
    body{
        background-color: rgb(243, 243, 117);
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 150px;
        font-size: x-large;
    }

</style>
{% endblock style %}

{% block content %}

    <h1>Are you sure to delete '{{ postslist.title }}'?</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1><input class="btn btn-primary" type="submit" value="Submit" style="background-color: rgb(89, 38, 229); color:rgb(255, 255, 255) ;"></h1>
        
    </form>

{% endblock content %}