{% extends 'base.html' %}
{% block style %}
<style>
    body{
        text-decoration: none;
        color: black;
        background-color: rgb(248, 243, 102);
        margin: 15%;
    }
</style>
{% endblock style %}
{% block title %}
    Home page
{% endblock title %}

{% block content %}
<div style="text-align: center; color: black; ">
    <h1>Welcom</h1>
    <h1>There are cars on this site. If you want, you can put your car here.</h1>
    <h1 ><a href="{% url 'postslist' %}">POSTS</a></h1>
</div>
{% endblock content %}