{% extends 'base.html' %}
{% block style %}

<style>
    body{
        background-color: rgb(243, 243, 117);
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 150px;
    }

</style>
{% endblock style %}

{% block title %}
    Update post
{% endblock title %}

{% block content %}

    <h1>Update post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </form>

{% endblock content %}